$color-red: #FF2A4E;
$color-dark-blue: #D1F8FF;
$color-blue: #05DAE8;
$color-dark-blue-force: brightness(0) saturate(100%) invert(96%) sepia(24%) saturate(5768%) hue-rotate(173deg) brightness(106%) contrast(105%);