$color-red: #FF2A4E;
$color-light-blue: #D1F8FF;
$color-light-blue-30: #d1f8ff30;
$color-light-blue-60: #d1f8ff60;
$color-blue: #05DAE8;
$color-light-blue-force: brightness(0) saturate(100%) invert(96%) sepia(24%) saturate(5768%) hue-rotate(173deg) brightness(106%) contrast(105%);
$color-dark-blue: #000228;